@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container mt-4">
    <div class="row">
        <div class=" col-4">
            <div class="form-group d-flex justify-content-between align-items-center">
                <label for="startDate" class="col-4 ">Start Date:</label>
                <input type="date" id="startDate" class="form-control" placeholder="Select start date">
            </div>
        </div>
        <div class=" col-4">
            <div class="form-group d-flex justify-content-between align-items-center">
                <label for="endDate" class="col-4 ">End Date:</label>
                <input type="date" id="endDate" class="form-control" placeholder="Select end date">
            </div>
        </div>
        <h5 class="mt-3">Total news: </h5> 
        <div>@ViewBag.TotalNews</div>
        <h5 class="mt-3">Total news according to status: </h5>
        <table class="border table-bordered ">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Status</th>
                    <th scope="col">Total News</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Active</td>
                    <td>5</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Inactive</td>
                    <td>10</td>
                </tr>
            </tbody>
        </table>

        <h5 class="mt-3">Total news according to category: </h5>
        <table class="border table-bordered ">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Category</th>
                    <th scope="col">Total News</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Tech</td>
                    <td>5</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Business</td>
                    <td>10</td>
                </tr>
            </tbody>
        </table>

        <h5 class="mt-3">Total news with staff: </h5>
        <table class="border table-bordered ">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Staff name</th>
                    <th scope="col">Staff email</th>
                    <th scope="col">Total News</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Hauhau</td>
                    <td>1@gmail.com</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Nguyen Hau</td>
                    <td>2@gmail.com</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Nguyen Hau Hau</td>
                    <td>3@gmail.com</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

