html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    height: 100%;
    margin: 0;
    font-family: "Metropolis", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #69707a;
    background-color: #f2f6fc;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.nav-fixed .topnav {
    z-index: 1039;
}

fixed .topnav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.topnav {
    padding-left: 0;
    height: 3.625rem;
    font-size: 0.9rem;
}

    .topnav .navbar-brand {
        width: 15rem;
        margin: 0;
        font-size: 1.5rem;
        font-weight: bold;
        white-space: nowrap;
    }

    .topnav.navbar-light .navbar-brand {
        color: #363d47;
    }

.navbar {
    height: 3.625rem;
    font-size: 0.9rem;
    padding: 3rem;
}

.navbar-brand {
    font-size: 2rem;
    font-weight: bold;
    white-space: nowrap !important;
    word-break: normal !important;
}

.navbar .form-inline {
    flex-grow: 1;
    max-width: 300px;
}

.account-info {
    margin-left: auto;
}

    .account-info div {
        text-align: left;
    }

    .account-info .fw-bold {
        font-size: 1rem;
    }

    .account-info .fw-normal,
    .account-info .fw-light {
        font-size: 0.85rem;
    }

    .account-info .text-muted {
        color: #6c757d;
    }

    .account-info button {
        margin-left: 10px;
        padding: 10px 20px;
        font-size: 1rem;
        font-weight: bold;
    }

.nav-fixed #layoutSidenav #layoutSidenav_content {
    padding-left: 15rem;
    top: 3.625rem;
}

.page-header.page-header-dark {
    color: rgba(255, 255, 255, 0.5);
}

.page-header .page-header-content {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.bg-gradient-primary-to-secondary {
    background-color: #f53b57 !important;
    background-image: linear-gradient(135deg, #f53b57 0%, rgba(255, 121, 63, 0.8) 100%) !important;
}

.pb-10 {
    padding-bottom: 6rem !important;
}

.mt-n10 {
    margin-top: -6rem !important;
}

header {
    display: block;
    unicode-bidi: isolate;
}

.card {
    box-shadow: 0 0.15rem 1.75rem 0 rgba(33, 40, 50, 0.15);
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(33, 40, 50, 0.125);
    border-radius: 0.35rem;
}

.card-header {
    padding: 1rem 1.35rem;
    margin-bottom: 0;
    background-color: rgba(33, 40, 50, 0.03);
    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}

.card-body {
    flex: 1 1 auto;
    padding: 1.35rem 1.35rem;
}

.text-center {
    text-align: center;
}

.custom-btn {
    background-color: #F2F6FC;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 0.35rem;
    color: #6A707B;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
}

    .custom-btn:hover {
        opacity: 0.8;
    }

.btn:hover {
    opacity: 0.8;
}

.mx-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.custom-table {
    border: 3px solid black;
    overflow: hidden;
}

    .custom-table th, .custom-table td {
        padding: 10px;
    }


.alert-info {
    color: #ffffff;
    background-color: #F5643A;
    border-color: #b6effb;
}

.alert {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}


.datatable-wrapper .datatable-container {
    font-size: 0.875rem;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.table, .datatable-table {
    --bs-table-color: #fffff;
    --bs-table-bg: #fff;
    --bs-table-border-color: #E0E5EC;
    --bs-table-hover-bg: #F7F9FA;
    width: 100%;
    margin-bottom: 1rem;
    color: var(--bs-table-color);
    vertical-align: middle;
    border: 1px solid var(--bs-table-border-color);
    border-collapse: collapse;
}

    .table th, .table td,
    .datatable-table th, .datatable-table td {
        border: 1px solid var(--bs-table-border-color); 
        padding: 8px;
        text-align: center;
    }

    .datatable-table > thead > tr > th {
        background-color: #ffffff;
        color: #6A707B;
        font-weight: bold;
        text-align: center;
        padding: 10px;
        border-bottom: 2px solid var(--bs-table-border-color);
    }

    .datatable-table tbody tr:hover {
        background-color: var(--bs-table-hover-bg);
    }

th, td {
    text-align: center;
}

.datatable-table {
    border-radius: 5px;
    overflow: hidden;
}

    .datatable-table tbody tr.no-data {
        background-color: #f8f9fa;
        text-align: center;
        color: #6c757d;
        font-style: italic;
    }
