<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Net1728Group2MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Net1728Group2MVC.styles.css" asp-append-version="true" />
</head>
<body class="nav-fixed sidenav-toggled">
    <nav class="topnav navbar navbar-expand shadow  justify-content-between justify-content-sm-start navbar-light bg-white" id="sidenavAccordion">
        <div class="container-fluid d-flex justify-content-between align-items-center">

            <a class="navbar-brand pe-3 ps-4 ps-lg-2" href="index.html">FUNewsManagement</a>

            <div class="account-info d-flex align-items-center">
                <div class="text-end me-3">
                    <div class="fw-bold">@ViewBag.UserName</div>
                    <div class="fw-normal text-muted">@ViewBag.UserEmail</div>
                    <div class="fw-light f text-muted">
                        @if (ViewBag.Role == "1")
                        {
                            <i>Staff</i>
                        }
                        else if (ViewBag.Role == "2")
                        {
                            <i>Lecturer</i>
                        }
                        else if (ViewBag.Role == "0")
                        {
                            <i>Admin</i>
                        }
                    </div>
                </div>
                <form asp-action="Logout" asp-controller="Account" method="post">
                    <button class="btn btn-danger btn-sm" type="submit">Logout</button>
                </form>
            </div>
        </div>

    </nav>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

@*     <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - FuNewsManagement - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
