@{
    // Layout = "~/Views.Shared/_Layout.cshtml";
}
<div class="w-100 vh-100 d-flex flex-column">
    <div class="flex-sm-fill w-25">
        <div>
            <p>Đời sống</p>

        </div>
    </div>
    <div class="">
    </div>
</div>